/* Main style form */
/* Form color palette 
Serenity
#54627B
Champagne
#ECD5BB
White
#FFFFFF
Crimson
#710117
*/
.first-color { 
	--backgroundcol: #710117; 
}
.second-color { 
	background: #FFFFFF; 
}
.third-color { 
	--backgroundcol2: #ECD5BB; 
}
.fourth-color { 
	background: #54627B; }


/* Selection header style */
.menutop{
    background-color: var(#710117);
    padding: 1%;
    overflow: hidden;
    height: 5%;
    margin: auto;
}

.menutop a{
    font-family: inherit;
    font-size: 20px;
    padding: 14px 16px; 
    text-align:center;
    text-decoration: none;
    color: black;
    float: left;
    display: block;
}

.menutop a:hover{
    background-color: var(--backgroundcol2);
}

/* Adapt to screen size */
@media screen and (max-width: 510px) {
    .menutop{
        margin-bottom: 3%;
        height: 15%
    }
    
    .menutop a {
    float:none;
    width: 100%;
    font-size: 14px;
    padding: 4px 6px; 
  }
  
}

